:root{
    --color-one: #fff;
    --color-two: #00fffb;
    --color-bg: #000;
    --font-one:"Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background-color: var(--color-bg);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    font-family: var(--font-one);
}

#logoHome{
    text-decoration: none;
    font-size: 20px;
    margin-right: 8%;
    color: var(--color-one);
    padding: 22px;
}
.cor{
    color: var(--color-two);
}
nav{
    margin-right: 8%;
}
nav ul{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-one);
    list-style: none;
}

nav ul li{
    padding: 12px;
}
nav ul li a{
    position: relative;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: var(--color-one);

    transition: color 0.3s ease;
}
/* ::after cria dentro da ancora um pseudoelemento, não podendo ser acessado pelo htmlou JS, apenas pelo css para estilização */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%);
    width: 20px;          /* largura da linha */
    height: 2px;          /* espessura */
    background: var(--color-two);
    border-radius: 2px;
    opacity: 0;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active{
    color: var(--color-two);
    scale: 1.05;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    opacity: 1;
}

#linkRedes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#linkRedes ul{
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#linkRedes ul li a{
    margin-right: 15px;
    font-size: 20px;
    color: var(--color-one);
    transition: 0.3s;
}
#linkRedes ul li a:hover{
    color: var(--color-two);
}
#btnInscrevase{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--color-one);
    background-color: #f00;
    text-decoration: none;
    transition: 0.3s;
}

#btnInscrevase i{
    margin-right: 5px;
}

#btnInscrevase:hover{
    scale: 1.05;
    box-shadow: 1px 1px 15px #f00, 1px -1px 15px #fff;
}

/* ------------------------------------------ */

main {
    color: var(--color-one);
    background-color: var(--color-bg);
}

/* Seção inicial */
.inicio {
    min-height: 80vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: linear-gradient(to right, var(--color-bg), var(--color-bg), transparent),
    url("../assets/Image/fundo_website_androgDev.jpg");
}

/* Texto */
#texto_apresentacao {
    display: flex;
    justify-content: center;
    font-family: var(--font-one);
    text-align: left;
}

#caixa_titulos {
    max-width: 500px;
}

#caixa_titulos h1 {
    margin-bottom: 10px;
}

#caixa_titulos p {
    margin-bottom: 20px;
}

/* Botão */
#texto_apresentacao a {
    display: inline-block;

    padding: 10px 20px;

    background-color: var(--color-one);
    color: var(--color-bg);

    text-decoration: none;
}

/* Logo */
#logo_oficial {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_oficial img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 15px var(--color-bg);
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#btnYT_assistir, #btnYT_videos{
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

#btnYT_assistir{
    color: var(--color-one) !important;
    background-color: #f00 !important;
}

#btnYT_assistir:hover{
    scale: 1.05;
    box-shadow: 1px 1px 15px #f00, 1px -1px 15px #fff;
}

#btnYT_videos{
    border: 1px solid var(--color-one) !important;
    color: var(--color-one) !important;
    background-color: transparent !important;
}

#btnYT_videos:hover{
    scale: 1.05;
    border: 1px solid var(--color-bg);
    color: var(--color-bg) !important;
    background-color: var(--color-one) !important;
    box-shadow: 1px 1px 15px #fff, 1px -1px 15px #fff;
}

/* ================================================= */

.sobre{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 40vh;
    background-color: #000;
}
.caixa_sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-one);
}
.caixa_conteudo{
    width: 80%;
}
.caixa_conteudo h2{
    font-family: var(--font-one);
}

.caixa_conteudo p{
    font-size: 15px;
    margin-left: 15px;
}

.caixa_conteudo a{
    display: inline-block;
    margin: 10px auto auto 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--color-one);
    background-color: var(--color-bg);
    color: var(--color-one);

    text-decoration: none;
}

#card_informacoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    font-family: var(--font-one);
    text-align: center;
    object-fit: contain;
    width: 25%;
    padding: 50px 20px 50px 20px;
    margin: 0px 10px 0px 5px;
    border-radius: 20px;
    background-color: #020202;
    border: 1px solid #222222;
}

.card i{
    margin: 5px;
    color: var(--color-two);
    font-size: 30px;
}