:root{
    --color-one: #fff;
    --color-two: #00fffb;
    --color-bg: #000;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    background-color: var(--color-bg);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-one);
}

#logoHome{
    margin-right: 5%;
    color: var(--color-one);
    padding: 22px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-one);
    list-style: none;
}

nav ul li{
    padding: 22px;
}
nav ul li a{
    text-decoration: none;
    color: var(--color-one);
}

nav ul li:hover{
    background-color: #00fffb6c;
}

#linkRedes{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#linkRedes ul{
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#linkRedes ul li a{
    margin-right: 15px;
    font-size: 20px;
    color: var(--color-two);
}

#btnInscrevase{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: var(--color-one);
    background-color: #f00;
    text-decoration: none;
}